@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Maven+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --font-principal: 'Inter';
    --cor-de-fonte-principal: #FFF;


}

.cabecalho {
 /*   background-color: #2E4F4F;
    color: #2E4F4F;
    display: block;
    width: 100vw;
    height: 50px; */
    color: var(--cor-de-fonte-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d64768e;
}

body {
   background-image: linear-gradient(to right, #000,#434343);

}
.formulario_pessoais{
   /* background-color: #434343; */
    align-items: center;
    height: 43.75em;
    width: 37.5em;
    padding: 1.25em;
    margin: 3.125em 0 3.125em 6.25em;
    border-radius: 1.25em;
}
.formulario_profissionais {
    align-items: center;
    height: 43.75em;
    width: 31.25em;
    padding: 1.25em;
    margin: 3.125em 0 3.125em 6.25em;
    border-radius: 1.25em;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
}
.container__div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "dados cep";
    justify-content: space-between;
    height: 37.5em;

}
.div1 {
    grid-area: dados;
    display: flex;
    justify-content: flex-start;
}

.div2 {
    grid-area: cep;
    flex-wrap: wrap;

}
.container2__div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "dados cep";
    justify-content: space-between;
    height: 40%;
}
.div3{
    display: flex;
    justify-content: flex-start;
}
.div4 {
    flex-wrap: wrap;
}
.div5 {
    display: flex;
    text-align: center;
    font-size: 1em;
    font-family: var(--font-principal);
    color: var(--cor-de-fonte-principal);
    margin-bottom: 1.25em;
}
.nomes__cadastro__centro {
    justify-content: center;
}
.topo {
    display: flex;
    justify-content: center;
    text-align: center;
}

legend {
    text-align: left;
    font-size: 1.25em;
    color: #FFF;
    padding: 0.125em;
}

.titulo {
    font-size: 2em;
    color: var(--cor-de-fonte-principal);
}

.subtitulo {
    font-size: 2em;
    color: var(--cor-de-fonte-principal);
}

.nomes__cadastro {
    font-family: var(--font-principal);
    font-size: 1.5em;
    color: #FFF;
    margin: 0.313em;
}

.container__linebox {
    margin-bottom: 1.25em;
}

input {
    width: 15.625em;
    height: 1.438em;
}
.input__radio {
    width: 1.25em;
    height: 1.438em;
    border: 0.125em solid #434343;
    border-radius: 1.25em;
    padding: 0.25em;
    margin-left: 1.5em;
    margin-right: 0.2em;
}

input, select {
    border: 0.125em solid #434343;
    border-radius: 1.25em;
    padding: 0.25em;
}
textarea {
    height: 12.5em;
    resize: none;
    border: 2px solid #434343;;
    border-radius: 1.25em;
    padding: 0.25em;
}

#error {
    color: white;
}
#botao__pesquisa {
    width: 5em;
    height: 2.5em;
    background-color: #FFF;
    float: right;
    margin-top: 1.875em;
    margin-right: 1.875em;
    position: absolute;
    bottom: 14.063em;
    left: 35.938em;
}
.botoes1 {
    display: flex;
}
 
#limpar {
    display: flex;
    width: 5em;
    height: 2.5em;  
    background-color: #FFF;
}
#dev {
    display: flex;
    margin-bottom: 1.25em;
}
#senioridade {
    display: flex;
    margin-bottom: 1.25em;
}
#area {
    display: flex;
    margin-bottom: 1.25em;
}
#ingles {
    display: flex;
    margin-bottom: 1.25em;
}

::placeholder {
    color: black;
}
.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cor-de-fonte-principal);
    font-family: var(--font-principal);
    background-color: #5d64768e;   
    height: 3.75em;
}