@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Maven+Pro&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --font-principal: 'Inter';
    --cor-de-fonte-principal: #FFF;


}

.cabecalho {
 /*   background-color: #2E4F4F;
    color: #2E4F4F;
    display: block;
    width: 100vw;
    height: 50px; */
    color: var(--cor-de-fonte-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d64768e;
}

body {
   background-image: linear-gradient(to right, #000,#434343);

}
.formulario_pessoais{
   /* background-color: #434343; */
    align-items: center;
    height: 700px;
    width: 600px;
    padding: 20px;
    margin: 50px 0px 50px 100px;
    border-radius: 20px;
}
.formulario_profissionais {
    align-items: center;
    height: 700px;
    width: 500px;
    padding: 20px;
    margin: 50px 0px 50px 100px;
    border-radius: 20px;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
}
.container__div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "dados cep";
    justify-content: space-between;
    height: 600px;

}
.div1 {
    grid-area: dados;
    display: flex;
    justify-content: flex-start;
}

.div2 {
    grid-area: cep;
    flex-wrap: wrap;

}
.container2__div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "dados cep";
    justify-content: space-between;
    height: 40%;
}
.div3{
    display: flex;
    justify-content: flex-start;
}
.div4 {
    flex-wrap: wrap;
}
.div5 {
    display: flex;
    text-align: center;
    font-size: 16px;
    font-family: var(--font-principal);
    color: var(--cor-de-fonte-principal);
    margin-bottom: 20px;
}
.nomes__cadastro__centro {
    justify-content: center;
}
.topo {
    display: flex;
    justify-content: center;
    text-align: center;
}

legend {
    text-align: left;
    font-size: 20px;
    color: #FFF;
    padding: 2px;
}

.titulo {
    font-size: 32px;
    color: var(--cor-de-fonte-principal);
}

.subtitulo {
    font-size: 32px;
    color: var(--cor-de-fonte-principal);
}

.nomes__cadastro {
    font-family: var(--font-principal);
    font-size: 24px;
    color: #FFF;
    margin: 5px;
}

.container__linebox {
    margin-bottom: 20px;
}

input {
    width: 250px;
    height: 23px;
}
.input__radio {
    width: 20px;
    height: 23px;
    border: 2px solid #434343;
    border-radius: 20px;
    padding: 4px;
    margin-left: 1.5em;
    margin-right: 0.2em;
}

input, select {
    border: 2px solid #434343;
    border-radius: 20px;
    padding: 4px;
}
textarea {
    height: 200px;
    resize: none;
    border: 2px solid #434343;;
    border-radius: 20px;
    padding: 4px;
}

#error {
    color: white;
}
#botao__pesquisa {
    width: 80px;
    height: 40px;
    background-color: #FFF;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    position: absolute;
    bottom: 225px;
    left: 575   px;
}
#enviar {
    width: 80px;
    height: 40px;
    background-color: #FFF;
    margin-right: 25px;
    margin-left: 50px;
    position: absolute;
    left: 1525px;
    bottom: 225px;
    border-radius: 0;
    border: 2px solid #434343;

}
#limpar {
    width: 80px;
    height: 40px;
    background-color: #FFF;
    position: absolute;
    bottom: 225px;
    border-radius: 0;
    border: 2px solid #434343;;
}
#dev {
    display: flex;
    margin-bottom: 20px;
}
#senioridade {
    display: flex;
    margin-bottom: 20px;
}
#area {
    display: flex;
    margin-bottom: 20px;
}
#ingles {
    display: flex;
    margin-bottom: 20px;
}

::placeholder {
    color: black;
}
.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cor-de-fonte-principal);
    font-family: var(--font-principal);
    background-color: #5d64768e;   
    height: 60px;
}